html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, .87);
  font-size: 14px;
  padding: 0 5px;
}

.main-header {
  min-height: 92px;
  height: calc(100% - 560px);
  max-height: 290px;
  align-content: flex-end;
}

.main-header h1 {
  font-size: 48px;
}

form {
  width: 100%;
}

#search {
  display: flex;
  z-index: 3;
  position: relative;
  min-height: 50px;
  background: #fff;
  border: 1px solid #dadce0;
  box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
  border-radius: 26px;
  margin: 12px auto;
  width: 100%;
  max-width: 688px;
  padding: 0 16px;
}

#search:focus {
  outline: none;
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

.search-buttons {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 8px;
  color: #3c4043;
  font-family: Google Sans, Arial, sans-serif;
  font-optical-sizing: none;
  font-size: 14px;
  font-weight: 400;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
}

/* Logo Styles */
.logo {
  font-size: 24px;
  font-weight: 900;
}

.text-blue {
  color: rgb(67, 135, 244)
}

.text-red {
  color: rgb(219, 68, 55)
}

.text-yellow {
  color: rgb(244, 180, 0)
}

.text-green {
  color: rgb(15, 157, 88)
}
/* End Logo Styles */