html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, .87);
  font-size: 14px;
  padding: 0 5px;
}

.main-header {
  min-height: 92px;
  height: calc(100% - 560px);
  max-height: 290px;
  align-content: flex-end;
}

.adv-header {
  color: #d93025;
  margin: 25px 0;
  width: 100%;
}

.adv-header h3 {
  font-weight: 500;
  font-size: 20px;
  padding: 0 35px;
}

.main-header h1 {
  font-size: 48px;
}

form {
  margin-top: 20px;
  width: 100%;
  max-width: 1140px;
}

#search {
  display: flex;
  z-index: 3;
  position: relative;
  min-height: 50px;
  background: #fff;
  border: 1px solid #dadce0;
  box-shadow: 0px 3px 10px 0px rgba(31, 31, 31, 0.08);
  border-radius: 26px;
  margin: 12px auto;
  width: 100%;
  max-width: 688px;
  padding: 0 16px;

  &:focus {
    outline: none;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  }
}

.search-buttons {
  display: flex;
  justify-content: center;
}

input[type="submit"] {
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 8px;
  color: #3c4043;
  font-family: Google Sans, Arial, sans-serif;
  font-optical-sizing: none;
  font-size: 14px;
  font-weight: 400;
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;

  &:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
  }
}

.adv-spacer {
  height: 1px;
  background-color: #ebebeb;
  width: 100%;
}

.adv-main {
  width: 100%;
  padding: 0 35px;
}

.adv-label {
  display: inline-flex;
  min-width: 167px;
  width: 16%;
  height: 42px;
  color: #222;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
}

.adv-label-header {
  font-weight: 500;
  font-size: 16px;
}

.adv-textinput {
  width: 50%;
  height: 32px;
  padding: 5px 10px;
  border: 1px solid #dfe1e5;
  border-radius: 4px;
  font-size: 14px;

  &:focus {
    outline: none;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  }
}

.adv-info {
  display: inline-block;
  width: 32%;
  min-width: 160px;
  margin: 0 0 8px 1%;
  color: #555;
  font-size: 11px;
  padding-left: 5px;
}

#adv-submit {
  box-shadow: none;
  background-color: #4d90fe;
  background-image: -webkit-linear-gradient(top, #4d90fe, #4787ed);
  background-image: linear-gradient(top,#4d90fe,#4787ed);
  border: 1px solid #3079ed;
  color: #fff;
}

#adv-submit:hover {
  background-color: #357ae8;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#4d90fe), to(#357ae8));
  background-image: -webkit-linear-gradient(top, #4d90fe, #357ae8);
  background-image: linear-gradient(to bottom, #4d90fe, #357ae8);
  border: 1px solid #2f5bb7;
  -webkit-border-image: initial;
  -o-border-image: initial;
  border-image: initial;
}

/* Logo Styles */
.logo {
  font-size: 24px;
  font-weight: 900;
}

.text-blue {
  color: rgb(67, 135, 244)
}

.text-red {
  color: rgb(219, 68, 55)
}

.text-yellow {
  color: rgb(244, 180, 0)
}

.text-green {
  color: rgb(15, 157, 88)
}
/* End Logo Styles */