html {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, .87);
  font-size: 14px;
  padding: 0 5px;
}

/* Logo Styles */
.logo {
  font-size: 24px;
  font-weight: 900;
}

.text-blue {
  color: rgb(67, 135, 244)
}

.text-red {
  color: rgb(219, 68, 55)
}

.text-yellow {
  color: rgb(244, 180, 0)
}

.text-green {
  color: rgb(15, 157, 88)
}
/* End Logo Styles */